@tailwind base;
@tailwind components;
@tailwind utilities;

@import  "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import  "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import  "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import  "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import '@fortawesome/fontawesome-free/css/all.css';
@import "~aos/dist/aos.css";



h1 {
  @apply text-3xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

body {
  background-color: linear-gradient(to right, #243B55, #141E30)!important;
}

@layer base {
  ul, ol {
    list-style: revert;
  }
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .table-container {
      max-width: 100% !important;
      overflow-x: auto!important;
  }
}

label:hover .absolute {
  opacity: 1;
}

[x-cloak] {
  display: none;
}

body {
    margin: 0!important;
    padding: 0!important;
    color: #fff;
}
  
.code-block {
  margin: 1em 0;
  
  overflow: hidden; 
  background: #000000;
  border-radius: 0.5em;
}

.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background: #333;
    color: #fff;
    margin: 0; 
}

.code-language {
  font-weight: bold;
}

.copy-code {
  background: #444;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 3px;
  font-size: 0.85em;
}


pre[class*="language-"] {
  margin: 0!important;
  border: none!important;
  background: #000!important;
}

.code-header + pre {
  margin-top: 0;
}

a:hover {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}